APP_ENV=dev
DATA_PROVIDER=demo
REPORT_DIR=backend/app/static/reports
OPENAI_BASE_URL=http://10.248.248.20:30001/v1
OPENAI_API_KEY=
OPENAI_MODEL=慧知Large
TAVILY_API_KEY=
SERPER_API_KEY=
SERPAPI_API_KEY=
BRAVE_API_KEY=
SEARXNG_URL=
TUSHARE_TOKEN=
XTICK_TOKEN=
EQUAL_DATA_API_KEY=
